.list {
    font-family: sans-serif;
    color: darkslategrey;
    font-weight: bolder;
    margin: 10px;
    line-height: 300%;
}

.list ul {
    list-style-type: none;
}

.list:hover {
    cursor: pointer;
}